name: Build and deploy wiki
on:
  push:
    branches:
      - main
    paths: 
      - 'wiki/**'
  pull_request:
    paths: 
      - 'wiki/**'
  workflow_dispatch:
permissions: 
    actions: read
    pages: write
    id-token: write
jobs:
  buildWiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4.0.4
        with:
            node-version: 20

      - name: Checkout quartz
        uses: actions/checkout@v4
        with:
          repository: 'jackyzha0/quartz'
          # v4.3.1 tag
          ref: 'v4.3.1'
          path: 'quartz'
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Install dependencies
        run: npm install
        working-directory: quartz
      
      - name: Build wiki
        run: npx quartz build -d '../wiki' -o '../wiki-public'
        working-directory: quartz

      - name: Upload wiki
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          path: 'wiki-public'
          name: wiki
          retention-days: 1
  
  previewDeploy:
    runs-on: ubuntu-latest
    needs: buildWiki
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v3.0.1
        with:
          name: wiki
          path: wiki-public

      - name: Preview wiki
        uses: rossjrw/pr-preview-action@v1.4.8
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          source-dir: 'wiki-public'

  deployWiki:
    runs-on: ubuntu-latest
    needs: buildWiki
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy wiki
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: wiki
          token: ${{ secrets.GITHUB_TOKEN }}